<img width="126" height="50" src="http://placehold.it/126x50" class="img-polaroid text-center">

<form class="form-inline text-center">
  <div class="control-group pull-left">
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group pull-left">
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls controls-row">
      <label id="remember-me" class="checkbox pull-left">
        <input type="checkbox"> Remember me
      </label>
      <label class="pull-right">
        <button id="forgot-password" class="btn btn-link">Forgot Password?</button>
      </label>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <button class="login btn">Login</button>
    </div>
  </div>
</form>

<div class="btn-toolbar">
  <div class="btn-group">
      <button class="btn btn-large btn-link left" type="button">Main Page</button>
      <button class="show-register btn btn-large btn-link right" type="button">Register Here</button>
  </div>
</div>
