<img width="126" height="50" src="http://placehold.it/126x50" class="img-polaroid text-center">

<form class="form-inline text-center">
  <div class="control-group pull-left">
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group pull-left">
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group pull-left">
    <div class="controls">
      <input type="password" id="inputPasswordConfirm" placeholder="Confirm Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <button class="register btn">Register</button>
    </div>
  </div>
</form>

<div class="btn-toolbar">
  <div class="btn-group">
      <button class="btn btn-large btn-link left" type="button">Main Page</button>
      <button class="show-login btn btn-large btn-link right" type="button">Login Here</button>
  </div>
</div>
